

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
}

.column {
  flex: 25%;
  max-width: 25%;
}

.column img {
  filter: grayscale(100%);
  margin-top: 10px;
  width: 90%;
}

@media screen and (max-width: 1100px) {
  .column {
    flex: 33%;
    max-width: 33%;
  }

}

@media screen and (max-width: 800px) {

  .column {
    flex: 50%;
    max-width: 50%;
  }


}

@media screen and (max-width: 600px) {

  
  .column {
    flex: 100%;
    max-width: 100%;
  }

}



